[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dlib = "*"
opencv-python = "*"
numpy = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.6"
