<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            var dataURLToBlob = function(dataURL) {
                var BASE64_MARKER = ';base64,';
                if (dataURL.indexOf(BASE64_MARKER) == -1) {
                    var parts = dataURL.split(',');
                    var contentType = parts[0].split(':')[1];
                    var raw = parts[1];

                    return new Blob([raw], {type: contentType});
                }

                var parts = dataURL.split(BASE64_MARKER);
                var contentType = parts[0].split(':')[1];
                var raw = window.atob(parts[1]);
                var rawLength = raw.length;

                var uInt8Array = new Uint8Array(rawLength);

                for (var i = 0; i < rawLength; ++i) {
                    uInt8Array[i] = raw.charCodeAt(i);
                }

                return new Blob([uInt8Array], {type: contentType});
            }

            function upload_image(){
                console.log($('#image'));
                var image_file = $('#image')[0].files[0];

                // Load the image
                var reader = new FileReader();
                reader.onload = function (readerEvent) {
                    var image = new Image();
                    image.onload = function (imageEvent) {

                        // Resize the image
                        var canvas = document.createElement('canvas'),
                            max_size = 1024,// TODO : pull max size from a site config
                            width = image.width,
                            height = image.height;
                        if (width > height) {
                            if (width > max_size) {
                                height *= max_size / width;
                                width = max_size;
                            }
                        } else {
                            if (height > max_size) {
                                width *= max_size / height;
                                height = max_size;
                            }
                        }
                        canvas.width = width;
                        canvas.height = height;
                        canvas.getContext('2d').drawImage(image, 0, 0, width, height);
                        var dataUrl = canvas.toDataURL('image/jpeg');
                        var resizedImage = dataURLToBlob(dataUrl);
                        $.event.trigger({
                            type: "imageResized",
                            blob: resizedImage,
                            url: dataUrl
                        });
                    }
                    image.src = readerEvent.target.result;
                }
                reader.readAsDataURL(image_file);
            }

            $(document).on("imageResized", function(event) {
                var formData = new FormData();
                formData.append("fileToUpload", event.blob);

                $("#upload").attr("src", "{{url_for('static', filename='loading.gif')}}")

                $.ajax({
                    url: "upload",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        document.open();
                        document.write(response);
                        document.close();
                    },
                    error: function(jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage); // Optional
                    }
                });
            });

        </script>

    </head>

    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        input {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            outline: none;
        }
        .container {
            display: flex;
            height: 100%;
        }
    </style>

    <body>
        <div class='container'>
            <input type="file"  id="image" name="file" accept="image/*" onchange="upload_image()" style="display:none">
            <input type="image" id="upload" src="{{url_for('static', filename='upload.svg')}}" onclick="$('#image').trigger('click');">
        </div>
        </form> 
    </body>
</html>